@charset "utf-8";

.box{
    width: 200px;height: 150px;
    background-color: #eee;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}
.vi{overflow: visible;}
.hi{overflow: hidden;}
.sc{overflow: scroll;}
.au{overflow: auto;}


/* 
overflow - 정해진 영역보다 큰 컨텐츠(넘치는 컨텐츠)를 어떻게 표현 할 것인가에 대한 속성
visible- 그대로 보여진다(기본값) > ow + enter
hidden- 넘치는 컨텐츠를 숨긴다 > ovh + enter
scroll -  넘치는 컨텐츠를 스크롤 형태로 보여진다 > ov:s + enter
auto - 스크롤이 생기지 않을 시에는 ( 컨텐츠 영역보다 크지 않다면 ) 스크롤이 생기지 않고 아무런 기능이 없으며, 컨텐츠가 스크롤이 생길 만큼 커졌을때 스크롤 형태로 보여진다. ova + enter 
*/

.wi{
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 800px;
    height: 115px;

    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 위의태그 반드시 속성 3개가 있어야 동작한다.

    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 800px;
    height: 115px;

    여러줄로 표현가능한 코드(알아두면 유용)
    세로길이 값은 작게 만들어야 된다!


white-space: nowrap; 길게 보이는거
overflow: hidden; 가리는거
text-overflow: ellipsis; ...으로보이게

*/

.item{
    width: 500px;
    height: 300px;
    border: 3px solid #000;
    overflow: hidden;
    cursor: pointer;
}
.item:hover p{
margin-top: -24995px;
}
.item p{
    transition: 300s linear;
}
/* 일정한속도로 올라가게 리니어 속성사용  */
