@charset"utf-8";
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

.nav{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
}
.nav .nav-wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.nav ul{overflow: hidden;}
.nav ul li{
    float: left;
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.nav ul li a{display: inline-block; width: 100%;}

.nav .submenu{background-color: rgba(0,0,0,0.1); 
    transition: 0.5s; 
    height: 0;
    overflow: hidden;
}
.nav .submenu ul{float: left; 
    width: 20%;
}
.nav .submenu ul li{width: 100%;}

.nav ul:hover + .submenu{height: 240px;}
.nav .submenu:hover{height: 240px;}

